- var brand = '<mmoehrlein/>'
nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href='/') #{brand}
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='/')
                    | Home
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href='/users/login') Login
            li.nav-item
                a.nav-link(href='/users/register') Register
            li.nav-item
                a.nav-link(href='/users/profile') Profile
