extends templates/layout
block content
    .container
        .jumbotron.text-center
            h1 Willkommen auf der Homepage
            p.lead
                h3 #{message}
                hr
                | Basic application with login and register functionality.
            p
                span
                    a.btn.btn-lg.btn-primary(href='/users/login', role='button') login
                span
                    a.btn.btn-lg.btn-primary(href='/users/register', role='button') register
