extends templates/layout
block content
    .row.center
        .col.s12
            .card-panel.blue-grey.lighten-4.z-depth-2
                .row
                    .col.s12
                        h1 Willkommen auf der Homepage
                .row
                    .divider
                .row
                    .col.s8.offset-s2
                        h3 #{message}
                .row
                    .divider
                .row
                    if authenticated
                        .col.s2.offset-s5.btn(href='/dash', role='button') Dashboard
                    else
                        .col.s2.offset-s4
                            a.waves-effect.waves-light.btn(href='/users/login', role='button') login
                        .col.s2
                            a.waves-effect.waves-light.btn(href='/users/register', role='button') register
