extends ../templates/layout

block content
    .row
        .col.s12
            .row.card-panel.z-depth-2.center
                h1.header.teal-text Slides
                .row
                    form.col.s12(method='POST' action= '/slides')
