extends ../templates/layout

block content
    .row
        .col.m8.offset-m2.l4.offset-l4
            .row.card-panel.z-depth-2
                .row.center
                    h2.header.teal-text.text-darken-3 Log In

                // login form
                .row
                    form.col.s12(method='POST' action='/users/login')
                        .row
                            .input-field
                                input#name.validate(type='text' name='username')
                                label(for='name') Username
                        .row
                            .input-field
                                input#pw.validate(type='password' name='password')
                                label(for='pw') Password
                        .row
                            button.waves-effect.waves-light.btn(type='submit') Log in